.account-container {
    height: 100vh;
    background-image: url('../../assets/images/social-media-job-search.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}